header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $white;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $box-shadow;

  .logo {
    color: $black;
    font-size: 2.5rem;
    font-weight: bolder;

    i {
      margin-right: .3rem;
      color: $green;
    }
  }

  .header-navbar {
    display: flex;

    .dropdown {
     // margin-left: 3px;

      .user-name {
        font-size: 2.7rem;
        color: $black !important;

        a, i {
          font-size: 2.7rem;
          color: $black !important;
        }

      }

      .down-arrow {
        margin-right: 10px;
        cursor: pointer;
      }

      .dropdown-menu {
        li {
          min-width: 220px;
          padding: 12px 18px;
          font-size: 1.4rem;
          text-align: right;

          .dropdown-item {
            text-align: right;
            transition: all 0.3s;

            &:focus,
            &:active {
              background-color: inherit $i;
            }

            &:hover {
              padding-right: 25px $i;
              border-right-color: $primary $i;
              color: $primary $i;
              background-color: inherit $i;
            }
          }
        }
      }
    }

    //#cart {
    //  margin-right: 3rem;
    //  font-size: 1.7rem;
    //  border-radius: 0.5rem;
    //  padding: 0.5rem 1.5rem;
    //  // color: $light-color;
    //  text-align: right;
    //}
  }

  .icons a,
  .icons i {
    cursor: pointer;
    font-size: 1.7rem;
    margin-left: 0.5rem;
    background-color: #eee;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    text-align: center;
    color: $black;
  }

  .icons #bars-icon {
    display: none;
  }

  .icons {
    .shopping-package {
      position: relative;

      .badge {
        position: absolute;
        font-size: 1rem;
        top: -1.6rem;
        left: -.5rem;
        cursor: pointer;

      }
    }
  }

}

/* Media Queries    */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  header .icons #bars-icon {
    display: inline-block;
  }
  header .header-navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    display: block;
    font-size: 2rem;
    background-color: #eee;
   // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    .dropdown,
    #cart {
      margin: 1rem;
    }
  }
  header .header-navbar.active {
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    // display: block;
  }
}
