$i: !important;

//gray
$white: #fff;
$bg: #f4f5f7;
$gray: #868e96;
$dark: #253858;
$border: #dfe1e6;
$light-text: #adb5bd;
$black: #192a56;
$green: #27ae60;
$light-color: #666;
$box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.1);

//color
$primary: #0052cc;
$secondary: #6554c0;
$info: #00b4d7;
$success: #00875a;
$danger: #e03131;
$warning: #fd7e14;

//light

$light-primary: #f2f8ff;
$light-secondary: #eae6ff;
$light-danger: #ffebe6;
